* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  background-image: url("./assets/img/back.png");
  background-size: cover;
}
@font-face {
  font-family: "Tweaky";
  src: local("Tweaky"), url("./assets/fonts/Tweaky.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("./assets/img/back2.png");
    background-size: cover;
  }
}
