@font-face {
  font-family: "Tweaky";
  src: local("Tweaky"), url("./assets/fonts/Tweaky.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  background-image: url("./assets/img/background.jpg");
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 13px;
  background-color: #020202;
}
body::-webkit-scrollbar-thumb {
  background: #cbcbce;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #6a6a6d;
}

@media (max-width: 768px) {
  body {
    background-image: url("./assets/img/back2.jpg");
    background-size: cover;
  }
}
